h1 {
  font: 48px "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
