.container {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

#time {
  font: 32px "Fira Sans", sans-serif;
  width: 200px;
  flex-shrink: 0;
}

#title {
  font: 32px "Fira Sans", sans-serif;
  width: 250px;
}

.btn {
  font-size: 24px;
  height: 43px;
  width: 43px;
  flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
  #title {
    width: 150px;
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
  }
  #time {
    width: 45px;
    font-size: 18px;
  }
}
